<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  android:versionCode="1"
		  android:versionName="1.0" package="com.caug.failblog.activity">

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		
		<!-- Main activity mapping goes here -->
		<activity android:name=".SplashActivity" android:label="@string/app_name" android:noHistory="true">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
        </activity>
        
        <!-- Additional activity mappings go here -->
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".FavoritesActivity"></activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".ViewerActivity"></activity>
    </application>
    
    <!-- Permissions go here -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>